@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
body {
  background-color:white;
}
.container{
  width:1200px;
  margin: auto;
  background-color:black;
}

.filterbox{
  background-color:#F5CB5C;
 
}

.gridbox{
  background-color: black;
}

.bottam{
  border-bottom: 2px solid white;
}

.display_movie{
  
  height: 328px;
  margin: 10px;
  justify-content: space-between;
}

.movie_image{
  height: 100%;
}

.movie_info{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: white;
    padding-left: 40px;
    align-items: center;
}

.movie_details_title{
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Niconne'
} 

.movie_details{
  color:white;
  font-family: cursive;
}

.movie_catalog {
  font-family: 'Niconne', cursive;
  text-align: center;
}

.search_name {
  font-family: cursive;
  display: block;
  font-size: 18px;
  color: black;
  margin: 40px 0px 6px 0px;
}

#search{
  width: 240px;
  height: 50px;
  padding: 5px;
  border-radius: 3px;
  background-color: #F9DE98;
  border:#49494C 1px solid;
  margin-bottom: 40px;
}

.filters_name{
  font-family: cursive;
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
}

.genres_name{
  font-family: cursive;
  font-size: 18px;
  color: black;
}

.checkbox_div{
  color: black;
} 

.rating_name{
  font-family: cursive;
  font-size: 18px;
  color: black;
  margin-top: 60px;
}

.genres label {
  display: block;
  margin-bottom: 5px;
}

.rating input, .length-labels {
  width: 100%;
  margin-bottom: 5px;
}

.rating-labels, .movie-length {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.year_name{
  font-family: cursive;
  font-size: 18px;
  color: black;
  margin-top: 60px;
}

#year{
  width: 240px;
  height: 50px;
  padding: 5px;
  border-radius: 3px;
  background-color: #F9DE98;
  border:#49494C 1px solid;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.prev,.next {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 50px 0px 50px 0px;
}

.prev:hover,.next:hover {
  background-color: #444;
}

.prev:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.current-page,.total-pages {
  margin: 0 10px;
  font-size: 16px;
  color: #fff;
}

.current-page {
  font-weight: bold;
}

.footer_icon{
  width: 200px;
}

.logout_btn{
  background-color: #F9DE98;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 250px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 350px;
  height: 50px;
  margin-bottom: 50px;
}





